body{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-image: url(./background.jpg);
}


.head-main{
    text-align: center;
}

.avt{
    margin-top: 35px;
    border-radius: 65px;
    /* display: inline-block; */
}
.main-home{
    /* background-color: rgb(170, 170, 170); */
    width: auto;
    height: auto;
    margin-left: 13px;
    margin-right: 13px;
    padding-bottom: 25px;


    /* text-align: center; */
}

.color-fb{
    background-color: #352acd;
    background-image: linear-gradient(81deg, #352acd 0%, #97D9E1 100%);

}

.color-git{
    background-image: linear-gradient(to right, #000000 52%, #868686);
}

.color-gg{
    background-color: #f2fb34;
    background-image: linear-gradient(315deg, #f2fb34 0%, #6284FF 50%, #FF0000 100%);

}
.color-ins{
    
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

.color-phone{
    background-image: linear-gradient(to right, #3a3a3a 50%, #dcd7d8)
}

.color-gmail{
    /* background-image: linear-gradient(to right, #1974ec 15%,#ff0000 15%, #f57979 15%,#e9d41e 15%, #11f354 15%); */
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

.element-image{
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 10px;
    /* background-color: rgb(184, 153, 184); */

    border-radius: 10px;

    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 14px;
    margin-left: 14px;
}

.image-logo{
    border-radius: 65px; 
    float: right;
}

.image-logo-ins{
    border-radius: 28px; 
    float: right;
}

.tl-prf-item{
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 9px;
}

.color-font{
    font-size: 15px;
    color: rgb(201, 192, 192);
}

.color-fonta{
    font-size: 15px;
    color: white;
}

.color-fonta :active{
    font-size: 16px;
    color: rgb(124, 124, 124);
}

.color-fonta :hover{
    font-size: 16px;
    color: rgb(223, 215, 215);
    text-decoration: none;
}

.element-image div h4{
    color: whitesmoke;
}
